@model Hyprsoft.Webhooks.Core.Management.WebhooksHealthSummary
@{
    ViewBag.Title = "Health";
    var totalMinutes = (int)Model.PublishInterval.TotalMinutes;
    var webhookId = 0;
}

<div class="container page">
    <h2>@ViewBag.Title</h2>
    <p class="lead">Below is a summary of webhook activity in the last <span class="badge badge-info">@totalMinutes</span> minutes.  Server has been up for <span class="badge badge-info">@DateTime.UtcNow.Subtract(Model.ServerStartDateUtc).ToString(@"d\.hh\:mm\:ss")</span>.</p>
    <h4>Successful Webhooks</h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SuccessfulWebhooks)
                {
                    <tr>
                        <td>@item.EventName</td>
                        <td><h5><span class="badge badge-success">@item.Count.ToString("g")</span></h5></td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.SuccessfulWebhooks.Count <= 0)
        {
            <div class="alert alert-warning">No successful webhooks were detected in the past <span class="badge badge-warning">@totalMinutes</span> minutes.</div>
        }
    </div>
    <h4>Failed Webhooks</h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Webhook</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FailedWebhooks)
                {
                    webhookId++;
                    <tr>
                        <td>
                            <a class="collapsed" data-toggle="collapse" href="#webhook-@webhookId" aria-expanded="false" aria-controls="webhook-@webhookId">
                                <i class="fa text-info" aria-hidden="true"></i>&nbsp;@item.EventName
                            </a>
                        </td>
                        <td>@item.WebhookUri</td>
                        <td><h5><span class="badge badge-danger">@item.Count.ToString("g")</span></h5></td>
                    </tr>
                    <tr>
                        <td id="webhook-@webhookId" class="collapse" colspan="3">
                            <div class="alert alert-danger">
                                <h4>Stack Trace</h4>
                                <p>@item.Error</p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.FailedWebhooks.Count <= 0)
        {
            <div class="alert alert-warning">No failed webhooks were detected in the past <span class="badge badge-warning">@totalMinutes</span> minutes.</div>
        }
    </div>
</div>