@model IEnumerable<Hyprsoft.Webhooks.Core.Management.Subscription>
@{
    ViewBag.Title = "Webhook Subscriptions";
}

<div class="container page">
    <h2>@ViewBag.Title</h2>
    <p class="lead">When an event is published, each webhook that's associated with the event is automatically invoked.  Failures are automatically retried.</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Event</th>
                    <th>Created</th>
                    <th>Active</th>
                    <th>Filtered</th>
                    <th>Webhook</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SubscriptionId</td>
                        <td>@item.TypeName</td>
                        <td class="text-nowrap">@item.CreatedUtc.ToLocalTime()</td>
                        <td class="text-center"><i class="far @(item.IsActive ? "fa-check-circle" : "fa-circle")" title="@(item.IsActive ? "Active" : "Inactive")"></i></td>
                        <td class="text-center"><i class="far @(String.IsNullOrWhiteSpace(item.Filter) ? "fa-circle" : "fa-check-circle")" title="@(String.IsNullOrWhiteSpace(item.Filter) ? "Not Filtered" : item.Filter)"></i></td>
                        <td>@item.WebhookUri</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>